.timeline {
    position: relative;
    width: 50px;
}

.timeline-item {
    position: relative;
    margin: 20px 0;
}



.dot {
    background-color: #ffc107;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: #ffc107;
    z-index: -1;
}
