@media screen and (max-width: 768px) {
  .tab {
    display: none;
  }
  .tab:first-child {
    display: block;
  }
  /* .tabs {
    display: flex;
  } */
  #bars {
    z-index: 100;
  }
}

.nav-item-render {
  display: block;
}

.test {
  height: 1000px;
}
/* resposive my service */
@media (width <= 991px) {
  .services .service {
    margin-bottom: 30px;
  }
  .clients .client,
  .own-item {
    margin-bottom: 30px;
  }
  .blog-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
  }
  .blog-item:nth-child(4),
  .blog-item:nth-child(5),
  .blog-item:nth-child(6) {
    margin-top: 0;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}
