@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-1 {
    width: 8.33333333%;
  }
}

@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9 {
    float: left;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-11 {
    width: 91.66666667%;
  }

  .col-lg-10 {
    width: 83.33333333%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-7 {
    width: 58.33333333%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66666667%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.66666667%;
  }

  .col-lg-1 {
    width: 8.33333333%;
  }
}

/* Navbar responsive mobile*/
@media screen and (max-width: 601px) {
  .nav-position {
    position: relative;
  }
  .tabs {
    position: absolute;
    top: 8em;
    z-index: 1000;
    width: 90%;
    box-shadow: 0 2px 92px #0000000d;
  }
  .tab:first-child {
    position: absolute;
    top: -8em;
    background: no-repeat;
  }

  .tab:not(:first-child) {
    display: none;
    z-index: 1000;
    border-bottom: 1px solid #efefef;
    text-align: center;
  }
  .tabs li a {
    cursor: pointer;
    width: 100%;
    line-height: 58px;
    display: block;
  }

  #bars {
    z-index: 100;
  }
  .nav-item-render {
    display: block !important;
    float: none;
    z-index: 1000;
    background: #fff;
  }
}
/* NAvbar responsive Tablets*/
@media screen and (width>= 601px) and (width <= 960px) {
  .nav-position {
    position: relative;
  }
  .tabs {
    position: absolute;
    top: 10em;
    z-index: 1000;
    width: 28rem;
  }
  .tab:first-child {
    position: absolute;
    top: -10em;
    background: no-repeat;
  }
  .tab:not(:first-child) {
    display: none;
    z-index: 1000;
    border-bottom: 1px solid #efefef;
    text-align: center;
  }
  .tabs li a {
    cursor: pointer;
    width: 100%;
    line-height: 58px;
    display: block;
  }

  #bars {
    z-index: 100;
  }
  header nav .site-btn {
    margin: 13px 13px 0 3px;
  }
  .nav-item-render {
    display: block !important;
    transition: ;
    float: none;
    z-index: 1000;
    background: #fff;
  }
  .timeline li .line-title {
    font-size: 16px;
    line-height: inherit;
  }
}
/* portlifto responsive small mobie*/
@media screen and (width>= 320px) and (width <= 413px) {
  .cbp-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .timeline li .line-title {
    line-height: inherit;
  }
}
/* resposive my service */
@media (width <= 991px) {
  .services .service {
    margin-bottom: 30px;
  }
  .clients .client,
  .own-item {
    margin-bottom: 30px;
  }
  .blog-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
  }
  .blog-item:nth-child(4),
  .blog-item:nth-child(5),
  .blog-item:nth-child(6) {
    margin-top: 0;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}
